langchain
langgraph
langchain_community
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
tqdm
python-dotenv

langchain-anthropic
langchain-openai
langchain-deepseek
langchain-google-genai
langchain-google-vertexai
